@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  ::-webkit-scrollbar {
    @apply w-2.5 bg-theme-gray; /* Width and background color of the scrollbar */
  }

  ::-webkit-scrollbar-track {
    @apply bg-theme-gray; /* Background color of the scrollbar track */
  }

  ::-webkit-scrollbar-thumb {
    @apply bg-theme-darkblue hover:bg-[#2c3750]; /* Style for the draggable scrolling handle */
  }
}

html,
body {
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.nav-link {
  @apply text-theme-gray hover:bg-[#2c3750] hover:text-white rounded-md px-3 py-2 text-sm font-medium;
}

.nav-link-active {
  @apply bg-[#0e172b] text-white rounded-md px-3 py-2 text-sm font-medium;
}
